.content{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.card{
    background-color: bisque;
    text-align: center;
    border-radius: 20px;
    padding: 30px;
    border: 6px saddlebrown solid;
}

button{
    background-color: maroon;
    color: bisque;
    font-weight: bold;
    width: 100px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    height: 50px;
}
